<!--suppress ALL -->
<template>
    <div>
        <vue-editor v-model="newValue"></vue-editor>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";
    import {VueEditor} from 'vue2-editor';

    @Component({components: {VueEditor}})
    export default class CommonEditor extends Vue {

        @Prop({default: ''})
        public value: String;

        public get newValue() {
            return this.value;
        }

        public set newValue(value) {
            this.$emit('input', value);
        }
    }
</script>
