<!--suppress ALL -->
<template>
    <b-table :striped="striped" :narrowed="narrowed" :bordered="bordered" class="common-table"
             :data="datas" @page-change="(page) => {currentPage=page;$emit('pageChange', page)}"
             :total="total" :backend-pagination="paginated" :paginated="paginated"
             :per-page="perPage" :detailed="detailed" :detail-key="detailKey" :columns="columnsFormated"
             :default-sort="defaultSort" default-sort-direction="asc" :current-page.sync="currentPage">
        <template slot-scope="props">
            <b-table-column v-for="(item, index) in columnProps" :key="`table-column-${index}`"
                            :visible="item.visible" :centered="item.centered"
                            :field="item.field" :label="item.label" :width="item.width" :sortable="item.sortable">
                <template v-if="item.customSlot">
                    <slot :row="props.row" :name="`column-${item.field}-${props.index}`"/>
                </template>
                <span v-else>{{ item.isNumbering ? (props.index + 1 + (perPage * (currentPage - 1)))
                              : props.row[item.field] }}</span>
            </b-table-column>
        </template>

        <template v-if="isDetail" slot="detail" slot-scope="props">
            <slot name="table-detail" :props="props"/>
        </template>

        <template slot="empty">
            <empty-states/>
        </template>
    </b-table>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";
    import {isEmpty} from "lodash";

    import TableColumn from "../models/TableColumn";

    @Component
    export default class CommonTable extends Vue {
        // paging
        @Prop({default: 0})
        public perPage: number;

        @Prop({default: 0})
        public total: number;

        // styling
        @Prop({default: false})
        public narrowed: boolean;

        @Prop({default: true})
        public bordered: boolean;

        @Prop({default: true})
        public striped: boolean;

        @Prop({default: ""})
        public detailKey: string;

        // sorting
        @Prop({default: ""})
        public defaultSort: string;

        // detail
        @Prop({default: false})
        public isDetail: boolean;

        // required
        @Prop({default: [], required: true})
        public columnProps: Array<TableColumn>;

        @Prop({default: [], required: true})
        public datas: Array<any>;

        public currentPage: number = 1;

        public get columnsFormated() {
            return this.datas.length === 0 ? this.columnProps : [];
        }

        public get paginated() {
            return this.perPage > 0 || this.total > 0;
        }

        public get detailed() {
            return !isEmpty(this.detailKey);
        }
    }
</script>
