<!--suppress ALL -->
<template>
    <div class="common-image">
        <a v-if="isMagnify" ref="linkImage" :data-mfp-src="srcFinal" :href="srcFinal">
            <img :src="srcFinal">
        </a>
        <img v-else :src="srcFinal">

        <slot></slot>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";
    import {isEmpty} from "lodash";

    @Component
    export default class CommonImage extends Vue {
        @Prop({default: ""})
        public src: string;

        @Prop({default: false})
        public isProfile: boolean;

        @Prop({default: false})
        public isLorem: boolean;

        @Prop({default: false})
        public isMagnify: boolean;

        public srcFinal: string = '';

        public get srcSet() {
            return isEmpty(this.src) ? (this.isLorem ? 'https://picsum.photos/200/300/?random' : this.src) : this.src;
        }

        public created() {
            this.srcFinal = '/images/loading.gif';
        }

        public mounted() {
            const context = this;
            const errorImage = `/images/${context.isProfile ? "default-user.jpg" : "no-img-found.png"}`;

            if (this.srcSet.length > 0) {
                (window as any).$('<img/>').attr('src', this.srcSet).on('load', function () {
                    context.srcFinal = context.srcSet;
                }).on('error', function () {
                    context.srcFinal = errorImage;
                });
            } else {
                this.srcFinal = errorImage;
            }

            if (this.isMagnify) {
                if (!document.getElementById('magnify-css')) {
                    const styling: any = document.createElement('link');
                    styling.rel = 'stylesheet';
                    styling.href = '/vendor/css/magnify.min.css';
                    styling.id = 'magnify-css';

                    (document as any).head.prepend(styling);
                }

                (window as any).$script('/vendor/js/magnify.min.js', () => {
                    (window as any).$((this as any).$refs.linkImage).magnificPopup({
                        type: 'image'
                    });
                });
            }
        }
    }
</script>
