<!--suppress ALL -->
<template>
    <form class="form-kelas" method="POST" v-on:submit.prevent="doSave">
        <b-field :message="kelas.nameFeedback().error" :type="kelas.nameFeedback().type" label="Name">
            <b-input maxlength="30" placeholder="Name cannot be empty" v-model="kelas.name"></b-input>
        </b-field>
        <b-field label="Max">
            <b-input max="15" min="5" v-model="kelas.max"></b-input>
        </b-field>

        <b-field :label="selectedDosen" :message="kelas.dosenIdFeedback().error"
                 :type="kelas.dosenIdFeedback().type">
            <b-autocomplete :data="dosens" :loading="isFetching" @keyup.native="onTypingDosen"
                            @select="(option) => {kelas.dosen = option; kelas.dosen_id = option.id;}" field="name"
                            placeholder="contoh.. Will smith"
                            v-model="dosenName">
                <template slot-scope="{option}">
                    <div class="media">
                        <div class="media-left">
                            <common-image :isProfile="true" :src="option.image_profile" width="32"/>
                        </div>
                        <div class="media-content">
                            <strong>{{ option.name }}</strong>
                            <br>
                            <small>
                                <a :href="`mailto://${option.email}`">{{option.email}}</a>
                            </small>
                        </div>
                    </div>
                </template>
                <template slot="empty">
                    <empty-states/>
                </template>
                <template slot="header">
                    <a @click="doFind(dosens.length, 'DOSEN')">
                        <span> Load more </span>
                    </a>
                </template>
            </b-autocomplete>
        </b-field>

        <b-field :message="kelas.mapelIdFeedback().error" :type="kelas.mapelIdFeedback().type"
                 label="Choose Mata pelajaran">
            <b-select placeholder="Select a mapel" v-model="kelas.mapel_id">
                <option :key="mapel.id" :value="mapel.id" v-for="mapel in mapels">
                    {{ mapel.name }}
                </option>
            </b-select>
        </b-field>
        <div class="has-text-right field">
            <input :class="`button is-${kelas.valid() ? 'info' : 'danger'}`" type="submit" value="Simpan"/>
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Inject} from "typescript-ioc"
    import Constant from "../config/Constant";
    import Resource from '../config/environment/Resource';
    import {debounce} from "lodash";

    import Kelas from "../models/Kelas";
    import User from "../models/User";
    import Mapel from "../models/Mapel";

    import KelasService from "../service/KelasService";
    import UserService from "../service/UserService";
    import MapelService from "../service/MapelService";

    @Component
    export default class FormKelas extends Vue {
        @Inject public kelasService: KelasService;

        @Inject public mapelService: MapelService;

        @Inject public userService: UserService;

        public kelas: Kelas = new Kelas();

        public mapels: Array<Mapel> = [];

        public dosens: Array<User> = [];

        public isFetching: boolean = true;

        public dosenName: string = '';

        public onTypingDosen: any = debounce(function () {
            // @ts-ignore
            if (this.kelas.dosen.name.length < 4) {

                // @ts-ignore
                this.dosens = [];
            }

            // @ts-ignore
            this.doFind(0, "DOSEN");
        }, 500);

        public get selectedDosen() {
            const nama = this.kelas.dosen.name;

            return nama.length > 0 ? `Dosen yang dipilih ${nama}` : `Pilih Dosen`;
        }

        public async doSave() {
            this.kelasService.returnWithStatus = true;
            const {SAVE_SUCCESS} = Constant.STATUS.API;
            const method = this.kelas.id === 0 ? 'save' : 'update';

            if (this.kelas.valid()) {
                const response = await this.kelasService[method](this.kelas);

                if (response.status === SAVE_SUCCESS) {
                    this.$emit("saved");
                }
            }

            this.kelasService.returnWithStatus = false;
        }

        public mounted() {
            this.doFind();
            this.doFind(0, "DOSEN");
        }

        public async doFind(offset: number = 0, type: string = "MAPEL") {
            this.isFetching = true;

            if (type === "DOSEN") {
                if (offset === 0) {
                    this.dosens = [];
                }

                const param = {offset, limit: Resource["LIMIT"], role_id: 2, name: this.dosenName};
                const dosens = await this.userService.find(param);

                (dosens || []).forEach(element => {
                    this.dosens.push(element);
                });
            } else {
                const mapels = await this.mapelService.find({});

                this.mapels = Array.isArray(mapels) ? mapels : [];
            }

            this.isFetching = false;
        }

        public setKelas(kelas: Kelas = new Kelas()) {
            this.kelas = kelas;
        }
    }
</script>
