<!--suppress ALL -->
<template>
    <form class="form-mapel" method="POST" v-on:submit.prevent="doSave">
        <b-field :message="mapel.nameFeedback().error" :type="mapel.nameFeedback().type" label="Name">
            <b-input maxlength="30" placeholder="Mapel cannot be empty" v-model="mapel.name"></b-input>
        </b-field>
        <image-upload :image="mapel.image" :name="(mapel.file || {name: ''}).name" @upload="(file) => mapel.file = file"
                      label="Gambar cover"/>
        <div class="has-text-right field">
            <input :class="`button is-${mapel.nameFeedback().valid ? 'info' : 'danger'}`" type="submit" value="Simpan"/>
        </div>
    </form>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";

    import MapelService from "../service/MapelService";
    import Constant from "../config/Constant";
    import Mapel from "../models/Mapel";

    @Component
    export default class FormMapel extends Vue {
        @Inject public mapelService: MapelService;

        public mapel: Mapel = new Mapel();

        public async doSave() {
            this.mapelService.returnWithStatus = true;
            const {SAVE_SUCCESS} = Constant.STATUS.API;

            if (this.mapel.nameFeedback().valid) {
                const response = await this.mapelService.save(this.mapel);

                if (response.status === SAVE_SUCCESS) {
                    this.$emit("saved");
                }
            }

            this.mapelService.returnWithStatus = false;
        }

        public setMapel(mapel: Mapel = new Mapel()) {
            this.mapel = mapel;
        }
    }
</script>
