<!--suppress ALL -->
<template>
    <div class="form-user-wrp">
        <div class="sec">
            <div v-if="isFromSetting" class="edit-image">
                <image-upload label="Update Foto Profil" :image="user.image_profile"
                              :name="(user.file || {name: ''}).name"
                              @upload="(file) => user.file = file"/>
                <div class="has-text-right">
                    <a @click="uploadImageProfile" :class="`button is-${user.file ? 'info' : 'danger'}`">Unggah foto
                        profile</a>
                </div>
            </div>
            <form class="form-user" v-on:submit.prevent="doSave" method="POST">
                <label class="label" v-if="isFromSetting">Edit Data Pribadi</label>
                <b-field v-if="!isLogin" label="Name" :type="user.nameFeedback().type"
                         :message="user.nameFeedback().error">
                    <b-input v-model="user.name" placeholder="e.g John Smith" maxlength="30"></b-input>
                </b-field>
                <b-field label="Email" :type="user.emailFeedback().type" :message="user.emailFeedback().error">
                    <b-input v-model="user.email" placeholder="e.g john_smith01@gmail.com" maxlength="30"></b-input>
                </b-field>
                <b-field v-if="isRegister || isLogin" label="Password" :type="user.passwordFeedback().type"
                         :message="user.passwordFeedback().error">
                    <b-input type="password" placeholder="Isi dengan Password yang valid" v-model="user.password"
                             password-reveal>
                    </b-input>
                </b-field>
                <b-field v-if="isRegister && !isLogin" label="Konfirmasi Password"
                         :type="user.passwordConfirmFeedback().type"
                         :message="user.passwordConfirmFeedback().error">
                    <b-input type="password" placeholder="Harus sama dengan password diatas"
                             v-model="user.password_confirmation"
                             password-reveal>
                    </b-input>
                </b-field>
                <!-- restrict only on specified role -->
                <b-field v-if="!isLogin && !isFromSetting" label="Tipe"
                         :type="user.roleIdFeedback().type"
                         :message="user.roleIdFeedback().error">
                    <b-select v-model="user.role_id" placeholder="Select a subject" :disabled="role.id !== 0">
                        <option value="0">--PILIH ROLE--</option>
                        <option v-for="(role, index) in roles" :key="`role-`+index"
                                :value="role.id">{{role.name}}
                        </option>
                    </b-select>
                </b-field>
                <div class="has-text-centered field">
                    <input type="submit" :value="isRegister ? 'Register' : isLogin ? 'Login' : 'Simpan'"
                           :class="`button is-${dataValid ? 'info' : 'danger'}`"/>
                </div>
            </form>
        </div>
        <div v-if="isFromSetting" class="sec">
            <form class="form-user-password" v-on:submit.prevent="doUpdatePassword" method="POST">
                <label class="label">Update password user</label>
                <b-field label="Password lama"
                         :type="user.passwordOldFeedback().type"
                         :message="user.passwordOldFeedback().error">
                    <b-input type="password" placeholder="Isi password anda"
                             v-model="user.passwordOld"
                             password-reveal>
                    </b-input>
                </b-field>
                <b-field label="Password" :type="user.passwordFeedback().type"
                         :message="user.passwordFeedback().error">
                    <b-input type="password" placeholder="Isi dengan Password yang valid" v-model="user.password"
                             password-reveal>
                    </b-input>
                </b-field>
                <b-field label="Konfirmasi Password"
                         :type="user.passwordConfirmFeedback().type"
                         :message="user.passwordConfirmFeedback().error">
                    <b-input type="password" placeholder="Harus sama dengan password diatas"
                             v-model="user.password_confirmation"
                             password-reveal>
                    </b-input>
                </b-field>
                <div class="has-text-right">
                    <input type="submit" value="Update Password"
                           :class="`button is-${user.validUpdatePassword() ? 'info' : 'danger'}`">
                </div>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import Constant from "../config/Constant";
    import UserService from "../service/UserService";
    import RoleService from "../service/RoleService";
    import CommonService from "../service/CommonService";

    import User from "../models/User";
    import Role from "../models/Role";

    @Component
    export default class FormUser extends Vue {
        @Inject public userService: UserService;

        @Inject public roleService: RoleService;

        @Inject public commonService: CommonService;

        @Prop({default: new Role()})
        public role: Role;

        @Prop({default: false})
        public isLogin: boolean;

        @Prop({default: false})
        public isRegister: boolean;

        @Prop({default: false})
        public skipRedirect: boolean;

        @Prop({default: false})
        public isFromSetting: boolean;

        public user: User = new User();

        public roles: Array<Role> = [];

        public get dataValid() {
            const {isRegister, isLogin, user} = this;

            return isRegister ? user.validRegister() : isLogin ? user.validLogin() : this.user.valid();
        }

        public created() {
            this.$watch("role.id", value => {
                if (value) {
                    this.user.role = this.roles.find(item => item.id === value) || new Role();
                    this.user.role_id = value;
                }
            }, {immediate: true});
        }

        public async mounted() {
            await this.doFind();
        }

        public async doFind() {
            const roles = await this.roleService.find({});
            this.roles = Array.isArray(roles) ? roles : [];
        }

        public async doSave() {
            const {isRegister, isLogin, dataValid, skipRedirect, isFromSetting} = this;
            this.userService.returnWithStatus = true;

            if (dataValid) {
                const method = this.user.id !== 0 ? "update" : (isRegister || !isLogin) ? "save" : "doLogin";
                const payload = isRegister || !isLogin ? this.user : this.user.loginProperty();
                const response = await this.userService[method](payload);
                const status = (response || {status: ""}).status;
                const {SAVE_SUCCESS} = Constant.STATUS.API;

                if (isRegister && status === SAVE_SUCCESS && !skipRedirect) {
                    this.$router.push('/?login-first=true');
                }

                if (isFromSetting && response && response.data instanceof User && status === SAVE_SUCCESS) {
                    this.$root.$emit('updateUser', response.data);
                }

                if (status === SAVE_SUCCESS) {
                    this.$emit("saved");
                }
            }

            this.userService.returnWithStatus = false;
        }

        public setUser(user: User = new User()) {
            this.user = user;
        }

        public async doUpdatePassword() {
            if (this.user.validUpdatePassword()) {
                const response = await this.userService.updateUserPassword(this.user);

                if (response && response.status === Constant.STATUS.API.UPDATE_SUCCESS) {
                    this.$emit('successUpdatePassword');
                }
            }
        }

        public async uploadImageProfile() {
            if (this.user.file) {
                this.userService.returnWithStatus = true;
                const {UPLOAD_SUCCESS} = Constant.STATUS.API;
                const response = await this.userService.uploadImageProfile(this.user);

                if (response && response.data instanceof User && UPLOAD_SUCCESS === response.status) {
                    const image_profile = response.data.image_profile;
                    this.commonService.setUser({image_profile}, true);

                    this.$root.$emit('updateUser', response.data);
                }

                this.userService.returnWithStatus = false;
            }
        }
    }
</script>
