<!--suppress ALL -->
<template>
    <div class="form-soal">
        <b-notification v-if="!skipUploadFile" :type="`is-${soal.soalValid(minMaxSoal) ? 'success' : 'danger'}`">
            <strong>Soal minimal di unggah : {{minMaxSoal.min}}</strong><br>
            <strong>Soal maksimal di unggah : {{minMaxSoal.max}}</strong>
        </b-notification>
        <b-field label="Nama" :type="soal.nameFeedback().type"
                 :message="soal.nameFeedback().error">
            <b-input v-model="soal.name" placeholder="Isi judul" maxlength="30"></b-input>
        </b-field>
        <b-field label="Deskripsi" :type="soal.descriptionFeedback().type"
                 :message="soal.descriptionFeedback().error">
            <b-input v-model="soal.description" type="textarea" placeholder="Isi judul"
                     maxlength="200"></b-input>
        </b-field>
        <b-field label="Batas waktu">
            <b-datepicker v-model="soal.due" placeholder="Tekan untuk pilih tanggal"
                          icon="calendar-today" position="is-top-left"></b-datepicker>
        </b-field>
        <b-field v-if="!skipUploadFile" label="Unggah soal *(Soal format dokumen)">
            <b-upload :accept="accept" :native="true" @input="onPickFile" drag-drop>
                <section class="section">
                    <div class="content has-text-centered">
                        <p>
                            <span class="icon is-large">
                                <i class="mdi mdi-account-edit mdi-48px"></i>
                            </span>
                        </p>
                        <p>Drop your files here or click to upload</p>
                    </div>
                </section>
            </b-upload>
        </b-field>
        <common-table v-if="!skipUploadFile" class="table-file" :datas="soal.soalFileData() || []"
                      :columnProps="soal.soalFileColumn() || []">
            <template v-for="(fileData, index) in soal.soalFileData()"
                      :slot="`column-aksi-${index}`" slot-scope="{row}">
                <a class="button is-danger is-small"
                   :key="`soals-action-${index}`" @click="soal.files.splice(index, 1)">
                    <i class="mdi mdi-delete"></i>
                </a>
            </template>
        </common-table>
        <div class="field has-text-right">
            <a :disabled="!soal.soalValid(skipUploadFile ? null : minMaxSoal)" @click="doSave"
               :class="`button is-${soal.soalValid(skipUploadFile ? null : minMaxSoal) ? 'info' : 'danger'}`">
                {{soal.id === 0 ? 'Unggah soal' : 'Update'}}</a>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import {acceptFormatFiles} from '../util/FormatFileUtil';
    import {isNil} from 'lodash';

    import SoalService from '../service/SoalService';
    import CommonService from '../service/CommonService';

    import Soal from "../models/Soal";

    @Component
    export default class FormSoal extends Vue {

        @Prop({default: true})
        public skipUploadFile: boolean;

        @Prop({default: 0, required: true})
        public kelas_id: any;

        @Inject public soalService: SoalService;

        @Inject public commonService: CommonService;

        public soal: Soal = new Soal();

        public accept: Array<any> = acceptFormatFiles;

        public minMaxSoal: any = {min: 0, max: 0};

        public mounted() {
            this.doFind();
        }

        public onPickFile(file) {
            let message = '';

            // if file mimetype is forbidden, buefy will emit last file emmitted from this component
            // or null / undefined if there is no file before
            const formatNotValid = isNil(file) || this.soal.files
                .some(item => file.name === item.name);

            if (formatNotValid) {
                message = 'Format file tidak didukung / Ada file sama yang telah dipilih';
            } else if ((file.size / 1000) > 2048) {
                message = 'File tidak boleh lebih dari 2mb';
            }

            if (message.length > 0) {
                this.commonService.showNotification(message, true);
            } else {
                this.soal.files.push(file);
            }
        }

        public setSoal(soal: Soal = new Soal()) {
            this.soal = soal;
        }

        public resetSoal() {
            this.soal = new Soal();
        }

        public doSave() {
            const {skipUploadFile, minMaxSoal} = this;
            if (this.soal.soalValid(skipUploadFile ? null : minMaxSoal)) {
                this.soal.kelas_id = this.kelas_id;
                this.$emit('save', this.soal);
            }
        }

        public async doFind() {
            const response = await this.soalService.findMinMaxSoal({kelas_id: this.kelas_id});

            this.minMaxSoal.max = response.max || 0;
            this.minMaxSoal.min = response.min || 0;
        }
    }
</script>
