<!--suppress ALL -->
<template>
    <b-field :label="label">
        <div v-if="forceRerender" class="field img-uploader">
            <common-image v-if="imageDataUrl || image" :src="imageDataUrl || image"/>
            <b-upload :accept="accept" @input="onPickFile" class="file" v-model="file">
                <a class="button is-primary">
                    <b-icon icon="upload"></b-icon>
                    <span>Pilih Gambar</span>
                </a>
                <span class="file-name" v-if="file || name">
                    {{ name || file.name }}
                </span>
            </b-upload>
        </div>
    </b-field>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";

    import {acceptImageFiles} from '../util/FormatFileUtil';
    import {fileToDataURL} from "../util/FileUtil";
    import CommonService from '../service/CommonService';

    @Component
    export default class ImageUpload extends Vue {

        @Prop({default: ''})
        public image: string;

        @Prop({default: ''})
        public label: string;

        @Prop({default: ''})
        public name: string;

        @Inject public commonService: CommonService;

        public imageDataUrl: string;

        public file: any = {name: 'Pilih gambar'};

        public accept: string = acceptImageFiles;

        public forceRerender: boolean = true;

        public async onPickFile(file: any) {
            if (file instanceof File) {
                if ((file.size / 1000) > 1000) {
                    this.commonService.showNotification('Maksimal ukuran file 1mb', true, true);
                } else {
                    this.forceRerender = false;
                    this.imageDataUrl = await fileToDataURL(file);
                    this.$nextTick(() => this.forceRerender = true);

                    this.$emit('upload', file);
                }
            }
        }
    }
</script>
