<!--suppress ALL -->
<template>
    <div class="informasi-item">
        <b-modal :active.sync="isDescriptionOpened"
                 :width="960" class="modal-description" scroll="keep">
            <div class="content-wrp">
                <p class="title is-6">{{informasi.name}}</p>
                <div class="content" v-html="informasi.description"></div>
                <div class="has-text-right">
                    <a @click="isDescriptionOpened = false" class="button is-dark">Tutup</a>
                </div>
            </div>
        </b-modal>

        <div class="box">
            <article class="media">
                <figure class="media-left">
                    <span class="icon">
                        <i class="mdi mdi-newspaper"></i>
                    </span>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p><a @click="isDescriptionOpened = true"><strong>{{informasi.name}}</strong></a></p>
                        <p>{{informasi.subdescription}}</p>
                    </div>
                </div>
                <div class="media-right" v-if="applyEdit">
                    <a @click="$emit('edit', informasi)" class="button is-info">
                        <i class="mdi mdi-circle-edit-outline"></i>
                    </a>
                </div>
            </article>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';

    import Informasi from "../models/Informasi";

    @Component
    export default class InformasiItem extends Vue {
        @Prop({default: new Informasi()})
        public informasi: Informasi;

        @Prop({default: false})
        public applyEdit: boolean;

        public isDescriptionOpened: boolean = false;
    }
</script>
