<!--suppress ALL -->
<template>
    <div :class="`kelas-item box ${isHorizontal ? 'is-horizontal' : ''}`">
        <common-image :src="kelas.mapel.image">
            <router-link tag="div" :to="`/profile/${kelas.dosen.email}`">
                <common-image v-if="!isHorizontal" class="is-rounded" :src="kelas.dosen.image_profile" :isProfile="true"/>
            </router-link>
        </common-image>
        <div class="kelas-detail">
            <p class="title">{{kelas.name}}</p>
            <p class="title">Mata pelajaran {{kelas.mapel.name}}</p>
            <router-link tag="div" :to="`/profile/${kelas.dosen.email}`" class="sec">
                <span>Diampu oleh</span>
                <span>:</span>
                <span><strong>{{kelas.dosen.name}}</strong></span>
            </router-link>
            <div class="sec">
                <span>Kapasitas kelas</span>
                <span>:</span>
                <span>{{kelas.max}}</span>
            </div>
            <div v-if="isHorizontal" class="sec">
                <span>Di subscribe sebanyak</span>
                <span>:</span>
                <span>{{kelas.total_subscribe}}</span>
            </div>
        </div>
        <div v-if="!isHorizontal" class="kelas-info">
            <p>{{kelas.created_at}}</p>
            <div class="btn-wrp">
                <router-link :to="`/class-detail/${kelas.id}`"
                   class="has-icon button is-transparent">
                    <span>
                        Selanjutnya
                    </span>
                    <span class="icon">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";

    import Kelas from '../models/Kelas';

    @Component
    export default class KelasItem extends Vue {
        @Prop({default: new Kelas()})
        public kelas: Kelas;

        @Prop({default: false})
        public isHorizontal: boolean;
    }
</script>
