<!--suppress ALL -->
<template>
    <div class="mapel-item box">
        <common-image :isLorem="true" :src="mapel.image"/>
        <div class="mapel-detail">
            <p class="title is-6">{{mapel.name}}</p>
            <div class="btn-wrp">
                <router-link :to="`/course-avalaible?mapel-id=${mapel.id}`"
                   class="has-icon button is-transparent">
                    <span>
                        Selanjutnya
                    </span>
                    <span class="icon">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";

    import Mapel from '../models/Mapel';

    @Component
    export default class MapelItem extends Vue {
        @Prop({default: new Mapel()})
        public mapel: Mapel;
    }
</script>
