<!--suppress ALL -->
<template>
    <div class="master-mapel">
        <b-modal :active.sync="modalActive" class="modal-edit-mapel">
            <header class="modal-card-head">
                <p class="modal-card-title is-small">Edit Mapel</p>
            </header>
            <div class="modal-content-wrp">
                <form-mapel ref="formMapel" @saved="()=>{doFind();modalActive = false}"/>
                <div class="btn-wrp has-text-right">
                    <a class="button is-light" @click="modalActive = false">Tutup</a>
                </div>
            </div>
        </b-modal>
        <div class="box">
            <div class="title-wrp">
                <p class="title is-6">Tabel Mapel</p>
                <a @click="doEdit(null)" class="button is-info has-icon">
                    <span class="icon"><i class="mdi mdi-account-plus"></i></span>
                    <span>Tambah baru</span>
                </a>
            </div>
            <common-table :columnProps="columns" :datas="mapelDatas">
                <template v-for="(mapel, index) in mapelDatas" :slot="`column-aksi-${index}`" slot-scope="{row}">
                    <a class="button is-info is-small"
                       :key="`mapel-action-${index}`" @click="doEdit(row)">
                        <i class="mdi mdi-account-edit"></i>
                    </a>
                </template>
            </common-table>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import MapelService from "../service/MapelService";
    import {cloneDeep, isNil} from "lodash";

    import Mapel from "../models/Mapel";

    @Component
    export default class MasterMapel extends Vue {
        @Inject public mapelService: MapelService;

        public isEditMapel: boolean = true;

        public mapels: Array<Mapel> = [];

        public columns: Array<any> = Mapel.columnName();

        public modalActive: boolean = false;

        public get mapelDatas(): Array<any> {
            return cloneDeep(this.mapels).map(item => item.table());
        }

        public mounted() {
            this.doFind();
        }

        public async doFind() {
            const mapels = await this.mapelService.find({});
            this.mapels = Array.isArray(mapels) ? mapels : [];
        }

        public doEdit(row) {
            this.modalActive = true;
            this.isEditMapel = !isNil(row);

            this.$nextTick(() => {
                const payload = this.isEditMapel
                    ? this.mapels.find(item => item.id === row.id) || new Mapel()
                    : new Mapel();

                (this as any).$refs.formMapel.setMapel(payload);
            });
        }
    }
</script>

