<!--suppress ALL -->
<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container is-widescreen">
            <div class="navbar-brand">
                <router-link to="/home" class="navbar-item">
                    <img src="/images/logo-small.png">
                </router-link>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        {{user.role.name}}
                    </a>
                    <router-link v-for="(menu, index) in menus" :to="menu.url" :key="'menu-'+index"
                       class="navbar-item">
                        {{menu.name}}
                    </router-link>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a>
                            <common-image class="is-rounded" :src="user.image_profile" :isProfile="true"/>
                        </a>
                        <div class="navbar-dropdown is-right">
                            <router-link :to="`/profile/${user.email}`" class="navbar-item">Profil</router-link>
                            <a @click="doLogout" class="navbar-item">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
	import CommonService from "../service/CommonService";

	import User from "../models/User";

	@Component
	export default class NavigationBar extends Vue {
		@Inject public commonService: CommonService;

		@Prop({default: new User()})
		public user: User;

		@Prop({default: []})
		public menus: Array<any>;

		public doLogout() {
			this.commonService.removeUser();
		}
	}
</script>
