<!--suppress ALL -->
<template>
    <div class="box user-badge">
        <slot name="head-slot"></slot>
        <article class="media">
            <figure class="media-left">
                <common-image :isMagnify="true" :isProfile="true" :src="user.image_profile" class="is-rounded"/>
            </figure>
            <div class="media-content">
                <div class="content">
                    <router-link :to="`/profile/${user.email}`" tag="p">
                        <strong>{{user.name}}</strong>
                    </router-link>
                    <p class="help is-grey">{{user.email}}</p>
                    <p v-if="user.role.name">Role : {{user.role.name}}</p>
                </div>
                <slot/>
            </div>
        </article>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import User from "../models/User";
    import {cloneDeep} from "lodash";
    import CommonService from "@/service/CommonService";

    @Component
    export default class UserBadge extends Vue {

        @Inject
        public commonService: CommonService;

        public user: any = {};

        public get isValidUser() {
            return this.user instanceof User;
        }

        public created() {
            const user = this.commonService.getUser();

            if (user instanceof User) {
                this.user = cloneDeep(user);
            }
        }
    }
</script>
