@import "_variables.scss";
@import "~buefy/dist/buefy.min.css";

@mixin fl_row {
    display: flex;
    flex-direction: row;
}

@mixin box_shadow($is_hovered: false) {
    @if $is_hovered==true {
        box-shadow: 0 14px 28px rgba(10, 10, 10, 0.1), 0 10px 10px rgba(10, 10, 10, 0.1);
    } @else {
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }
}

@mixin box_view($applyPadding: false, $applyBorderRadius: true) {
    @include box_shadow;
    background-color: white;
    color: $grey-dark;
    @if $applyPadding==true {
        padding: 1.25rem;
    }
    @if $applyPadding==true {
        border-radius: 6px;
    }
}

@mixin fl_col {
    display: flex;
    flex-direction: column;
}

.header-s {
    margin: -1.25rem -1.25rem 1rem -1.25rem;
    padding: 1.25rem;
    background-color: $info;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    p {
        color: white;
    }
}

.columns.is-block {
    display: block;
    overflow: auto;

    .column {
        float: left;
    }
}

.col-masonry {
    column-count: 2;
    column-gap: 0;
    counter-reset: item-counter;

    .cmi-item {
        box-sizing: border-box;
        break-inside: avoid;
        padding: 10px;
        counter-increment: item-counter;
    }

    @include mobile {
        column-count: 1;
    }
}

#app {
    min-width: 100vw;
    min-height: 100vh;
}

.modal {
    .modal-card-head {
        padding: 1rem;
    }

    .modal-card-title {
        font-size: 1rem;
        line-height: initial;
    }

    .modal-content-wrp {
        background-color: white;
        padding: 1rem 1.5rem;
    }
}

.button.is-transparent {
    border-color: transparent;
    box-shadow: none;
    color: $link;
}

img.is-rounded {
    border-radius: 50%;
}

p.help {
    &.is-grey {
        color: $grey;
    }
}

.image.is-cover {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.form-login-register {
    > section.logo-wrp {
        text-align: center;
        margin-bottom: 1.5rem;

        img {
            height: 60px;
        }
    }
}

.empty-states {
    @include fl_row();

    > p {
        flex: 1;
    }

    > span {
        margin-right: 0.75rem;
    }

    &.is-vertical {
        @include fl_col();
        text-align: center;

        span {
            font-size: 80px;
            margin: 0 0 0.75rem 0;
        }
    }
}

.login-page {
    padding: 2rem 0;
    width: 500px;
    height: 100%;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    display: flex;

    section {
        width: 100%;

        &:last-child {
            margin-top: 1.5rem;
        }
    }
}

.common-image {
    &.is-rounded {
        border-radius: 50%;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.common-table {
    table {
        border-collapse: collapse !important;
    }

    thead {
        background-color: $info;

        th {
            background-color: transparent !important;
        }

        th .th-wrap {
            color: white;
            background-color: transparent !important;
        }
    }
}

nav.navbar {
    .navbar-start {
        align-items: center;

        .navbar-item {
            &:first-child {
                cursor: auto;
                background-color: $info;
                border-radius: 25px;
                color: white;
            }
        }
    }

    .navbar-end > .navbar-item.has-dropdown {
        > a, .common-image {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .common-image.is-rounded {
            width: 50px;
            height: 50px;

            img {
                max-height: none;
                width: 40px;
                height: 40px;
            }
        }
    }
}

.informasi-item {
    .box {
        padding: 1rem;
    }

    .modal-description .modal-content {
        width: 960px;
    }

    .content-wrp {
        padding: 1rem;
        background-color: white;
        border-radius: 6px;

        > .has-text-right {
            padding-top: 1rem;
            border-top: 1px solid $grey-light;
        }
    }
}

.base-page {
    min-height: 100vh;

    > .columns {
        max-width: 1280px;
        margin: 0 auto;
        min-height: calc(100vh - 170px);

        .box-info {
            padding: 1rem 1.25rem;
        }

        ul.menu-list {
            li {
                padding-bottom: .5rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $grey-lighter;
                    margin-bottom: .5rem;
                }

                p:first-child {
                    margin-bottom: .5rem;
                }
            }
        }
    }

    .nav-wrp {
        width: 100%;
        display: block;
        background: white;
        @include box_view(false, false);

        nav {
            margin: 0 auto;
            max-width: 1280px;
        }
    }

    footer {
        padding: 3rem 1.5rem;
        background-color: $black;

        p, strong {
            color: $yellow;
        }
    }
}

.user-badge {
    .media-left .common-image {
        width: 64px;
        height: 64px;
    }

    .media-content .content {
        p {
            margin-bottom: 0;

            &:first-child {
                cursor: pointer;
                margin-bottom: .5rem;
            }
        }
    }

    &.is-horizontal {
        article {
            align-items: center;
            justify-content: center;
            @include fl_col;

            > figure {
                margin-right: 0;

                .common-image {
                    width: 180px;
                    height: 180px;
                }

                margin-bottom: 1rem;
            }

            .media-content .content {
                text-align: center;
            }
        }
    }
}

.base-page {
    background-color: $white-ter;

    .sticky-wrapper .is-fixed {
        top: 15px;
    }

    .informasis .informasi-item {
        margin-bottom: 1rem;
    }
}

.master-dosen,
.master-kelas,
.master-mapel {
    .title-wrp {
        @include fl_row;
        justify-content: center;
        margin-bottom: 1rem;

        p {
            flex: 1;
            margin-bottom: 0;
        }

        a.button {
            flex: none;
            margin-left: 1rem;
        }
    }

    .modal .btn-wrp {
        margin: 0 -1.5rem -1rem;
        padding: 1rem 1.5rem;
        margin-top: 1rem;
        border-top: 1px solid $grey-lighter;
    }
}

.master-mapel .img-uploader {
    .common-image {
        width: 120px;
        height: 120px;
        margin-right: 1rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.master-dosen {
    .form-user {
        .has-text-centered {
            text-align: right !important;
        }
    }
}

.avalaible-course {
    .tab-item {
        .columns {
            margin: -.75rem -1.5rem;
        }

        .btn-wrp {
            margin-top: 1.25rem;
        }
    }

    nav.tabs.is-hidden + .tab-content {
        padding-top: 0;
    }

    .tab-content {
        padding: 0;
    }

    .empty-states {
        padding: 1.5rem;
        margin: .5rem -1.5rem 0;
    }

    article.notification.is-info {
        p.title {
            margin-bottom: .5rem;
        }

        p:nth-child(2) {
            margin-bottom: 1.5rem;
        }
    }
}

.mapel-item, .kelas-item {
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .mapel-detail, .kelas-info {
        @include fl_row;
        align-items: center;

        p {
            margin-bottom: 0;
            flex: 1;
        }

        .btn-wrp {
            margin-left: 1rem;
        }
    }
}

.kelas-detail-page {
    .table-mahasiswa {
        p.title {
            margin-bottom: .5rem;
        }

        margin-bottom: 1.5rem;
    }

    .modal-preview-soal .modal-content {
        width: 960px;

        .form-edit-mhs-soal {
            .field.file span.file-name {
                flex: 1;
                max-width: none;
            }
        }

        .table-detail-wrp {
            border-top: 1px solid $grey-lighter;
            padding-top: 1.5rem;

            > p {
                margin-bottom: .5rem;
            }
        }

        .content + .btn-wrp {
            display: block;
            overflow: auto;

            a {
                &:first-child {
                    float: left;
                }

                float: right;
            }
        }
    }

    > .columns {
        margin: 0;

        .b-tabs {
            .upload-draggable {
                width: 100%;
            }
        }

        .table-file {
            margin-top: 2rem;
        }

        article.notification {
            > button {
                display: none;
            }
        }
    }

    .form-soal {
        .field.has-text-right {
            margin-top: 1.5rem;
        }
    }
}

.kelas-item {
    > .common-image {
        position: relative;

        .common-image {
            cursor: pointer;
            position: absolute;
            bottom: 1.2rem;
            right: 1.2rem;
            width: 60px;
            height: 60px;
            @include box_shadow;
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

            &:hover {
                @include box_shadow(true);
                box-shadow: 0 5px 6px $grey-lighter;
            }
        }
    }

    .kelas-detail {
        p {
            margin-bottom: .5rem;
            font-size: 1rem;

            &:first-child {
                margin-bottom: 1rem;
                font-size: 1.25rem;
            }
        }

        .sec {
            @include fl_row;

            &:nth-child(3) {
                cursor: pointer;

                &:hover {
                    span, strong {
                        color: $link !important;
                    }
                }
            }

            span {
                &:first-child {
                    flex-grow: 4;
                    flex-basis: 0;
                    flex-shrink: 1;
                }

                &:nth-child(2) {
                    flex: none;
                    margin: 0 .5rem;
                }

                &:last-child {
                    flex-grow: 5;
                    flex-basis: 0;
                    flex-shrink: 0;
                }
            }
        }
    }

    .kelas-info {
        border-top: 1px solid $grey-light;
        margin-top: .75rem;
        padding-top: .5rem;
    }


    &.is-horizontal {
        @include fl_row;

        img {
            margin-right: 1rem;
            width: 128px;
            height: 128px;
            object-fit: cover;
        }

        .kelas-detail {
            flex: 1;

            p.title {
                font-size: 1.25rem;

                &:first-child {
                    font-size: 1.5rem;
                }
            }

        }
    }
}

.img-uploader {
    @include fl_row;
    align-items: center;

    > img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 1rem;
    }

    label {
        flex: 1;

        > span.file-name {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        > a.button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.setting-page {
    form .has-text-centered.field {
        text-align: right !important;
    }

    .sec {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid $grey-lighter;
        }

        @include fl_row;

        form.form-user {
            flex: 1;
        }

        .edit-image {
            width: 300px;
        }

        .edit-image .has-text-right, .form-user .has-text-centered {
            margin-top: 2rem;
        }

        > div:not(:last-child) {
            margin-right: 1rem;
            padding-right: 1rem;
            border-right: 1px solid $grey-lighter;
        }

        > form, div {
            &:only-child {
                flex: 1;
            }
        }
    }

    .img-uploader {
        @include fl_col;
        align-items: flex-start;

        img {
            width: 200px;
            height: 200px;
            margin: 0 0 1rem 0;
            object-fit: cover;
        }

        label.upload {
            max-width: 280px;
        }
    }
}

.info-page {
    .field {
        p.title {
            margin-bottom: .5rem;
        }

        &:not(:last-child) {
            margin-bottom: .75rem;
            padding-bottom: .75rem;
            border-bottom: 1px solid $grey-lighter;
        }
    }
}

.mfp-figure figure > img {
    max-height: none !important;
    width: 100%;
    max-width: 1280px;
}
