<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link href="<%= BASE_URL %>favicon.ico" rel="icon">
    <title>E - Learning</title>
    <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/images/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/images/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="/images/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/images/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/images/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/images/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/images/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/images/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/images/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/images/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
    <link href="/images/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/images/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="/images/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <meta content="/images/ms-icon-144x144.png" name="msapplication-TileImage">
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="app">
    <!-- main view container -->
    <router-view></router-view>
</div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="/vendor/js/script.min.js"></script>
<script type="text/javascript" src="/vendor/js/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/js/jquery.migrate.min.js"></script>
<script type="text/javascript" src="/vendor/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/vendor/js/sticky.min.js"></script>
</body>
</html>
