<!--suppress ALL -->
<template>
    <div class="class-teached">
        <div class="col-masonry">
            <div class="cmi-item" v-for="(kelas, index) in kelases"
                 :key="`kelas-${index}`">
                <kelas-item :kelas="kelas"/>
            </div>
        </div>
        <div v-if="hasData" class="btn-wrp has-text-centered">
            <a @click="doFind(kelases.length)" class="button is-dark">
                Muat lagi
            </a>
        </div>
        <empty-states v-if="kelases.length === 0 || !hasData"/>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import {cloneDeep} from "lodash";
    import Resource from '../config/environment/Resource';

    import KelasService from '../service/KelasService';

    import User from "../models/User";
    import Kelas from "../models/Kelas";
    import CommonService from "@/service/CommonService";

    @Component
    export default class ClassTeached extends Vue {

        public user: User = new User();

        @Inject
        public keleasService: KelasService;

        @Inject
        public commonService: CommonService;

        public kelases: Array<Kelas> = [];

        public hasData: boolean = true;

        public created() {
            const user = this.commonService.getUser();

            if (user instanceof User) {
                this.user = cloneDeep(user);
            }
        }

        public mounted() {
            this.doFind();
        }

        public async doFind(offset: number = 0) {
            if (offset === 0) {
                this.kelases = [];
            }

            const param = {offset, limit: Resource['LIMIT'], dosen_id: this.user.id};
            const kelases = await this.keleasService.find(param) || [];
            this.hasData = kelases.length > 0 && kelases.length % Resource["LIMIT"] === 0;

            kelases.forEach(item => {
                if (item instanceof Kelas) {
                    this.kelases.push(item);
                }
            });
        }
    }
</script>
