<!--suppress ALL -->
<template>
    <div class="avalaible-course">
        <b-notification v-if="isBrowseKelas" type="is-info">
            <p class="title is-6">Pencarian</p>
            <p>Pencarian Kelas dengan Mata Pelajaran ID {{mapelKelas}}</p>
            <router-link class="button" :to="$route.path">Kembali ke halaman utama</router-link>
        </b-notification>
        <b-tabs v-model="activeTab" @change="doFind(0)">
            <b-tab-item v-for="(tab, index) in tabs"
                        :label="tab" :key="`tab-${index}`">
                <div class="col-masonry">
                    <template v-if="isBrowseKelas">
                        <div v-for="(kelas, index) in kelases"
                             :key="`tab-kelas-${index}`" class="cmi-item">
                            <kelas-item :kelas="kelas"/>
                        </div>
                    </template>
                    <template v-else>
                        <div :class="activeTab === 0 ? '' : 'is-hidden'" v-for="(kelas, index) in kelases"
                             :key="`tab-kelas-${index}`" class="cmi-item">
                            <kelas-item :kelas="kelas"/>
                        </div>
                        <div :class="activeTab === 1 ? '' : 'is-hidden'" v-for="(mapel, index) in mapels"
                             :key="`tab-mapel-${index}`" class="cmi-item">
                            <mapel-item :mapel="mapel"/>
                        </div>
                    </template>
                </div>
                <div v-if="hasData && (isBrowseKelas || activeTab === 0)" class="btn-wrp has-text-centered">
                    <a @click="doFind(kelases.length, isBrowseKelas ? 'KELAS' : '')" class="button is-dark">Muat
                        lagi</a>
                </div>
                <empty-states v-if="(isBrowseKelas || activeTab === 0) ? (kelases.length === 0) : (mapels.length === 0)"/>
            </b-tab-item>
        </b-tabs>
    </div>
</template>

<script lang="ts">
    import {isEmpty, cloneDeep} from "lodash";
    import Resource from '../config/environment/Resource';
    import {Inject} from "typescript-ioc";
    import {Component, Vue} from 'vue-property-decorator';

    import KelasService from "../service/KelasService";
    import MapelService from "../service/MapelService";
    import CommonService from "../service/CommonService";

    import Kelas from "../models/Kelas";
    import Mapel from "../models/Mapel";
    import User from "../models/User";

    @Component
    export default class AvalaibleCourse extends Vue {
        @Inject public kelasService: KelasService;

        @Inject public mapelService: MapelService;

        @Inject public commonService: CommonService;

        public kelases: Array<Kelas> = [];

        public user: User = new User();

        public mapels: Array<Mapel> = [];

        public activeTab: number = 0;

        public tabs: Array<string> = ["Kelas di subscribe", "Kelas tersedia"];

        public hasData: boolean = true;

        public get mapelKelas() {
            return (this.kelases[0] || {mapel: {name: ''}}).mapel.name;
        }

        public get isBrowseKelas() {
            const query = (this as any).$route.query;

            return !isEmpty(query) && !isEmpty(query["mapel-id"]);
        }

        public mounted() {
            const user = this.commonService.getUser();

            if (user instanceof  User) {
                this.user = cloneDeep(this.commonService.getUser());
                this.doFind();
            }
        }

        public async doFind(offset: number = 0) {
            if (offset === 0) {
                this.mapels = [];
                this.kelases = [];
            }

            const query = (this as any).$route.query;
            let param = {offset, limit: Resource['LIMIT']};

            if (this.isBrowseKelas) {
                (window as any).$(this.$el).find('nav.tabs').addClass('is-hidden');
                param['mapel'] = query['mapel-id'];
                const kelases = await this.kelasService.find(param) || [];
                this.hasData = kelases.length > 0 && kelases.length % Resource["LIMIT"] === 0;

                kelases.forEach(item => {
                    if (item instanceof Kelas) {
                        this.kelases.push(item);
                    }
                });
            } else {
                (window as any).$(this.$el).find('nav.tabs').removeClass('is-hidden');

                if (this.activeTab === 0) {
                    param['mhs_id'] = this.user.id;
                    const kelasesSubscribe = await this.kelasService.find(param) || [];
                    this.hasData = kelasesSubscribe.length > 0 && kelasesSubscribe.length % Resource["LIMIT"] === 0;

                    kelasesSubscribe.forEach(item => {
                        if (item instanceof Kelas) {
                            this.kelases.push(item);
                        }
                    });
                } else {
                    const mapels = await this.mapelService.find(param) || [];
                    this.hasData = mapels.length > 0 && mapels.length % Resource["LIMIT"] === 0;

                    mapels.forEach(item => {
                        if (item instanceof Mapel) {
                            this.mapels.push(item);
                        }
                    });
                }
            }
        }
    }
</script>
