<!--suppress ALL -->
<template>
    <div>
        <!-- only admin -->
        <div v-if="user.role.id === 1" class="box create-informasi">
            <form v-on:submit.prevent="doSave">
                <b-field label="Name" :type="informasi.nameFeedback().type" :message="informasi.nameFeedback().error">
                    <b-input v-model="informasi.name" placeholder="Must not empty" maxlength="50"></b-input>
                </b-field>
                <b-field label="Deskripsi" :type="informasi.descriptionFeedback().type"
                         :message="informasi.descriptionFeedback().error">
                    <common-editor v-model="informasi.description"></common-editor>
                </b-field>
                <b-field v-if="informasi.id !== 0" label="Publikasi">
                    <b-switch v-model="informasi.published">
                        {{ informasi.published ? 'Publish' : 'Arsip' }}
                    </b-switch>
                </b-field>
                <div class="btn-wrp has-text-right">
                    <input type="submit" :class="`button is-${informasi.valid() ? 'success' : 'danger'}`">
                </div>
            </form>
        </div>
        <div v-else class="notification is-info">
            Informasi Admin
        </div>
        <div class="informasis">
            <informasi-item v-for="(informasi, index) in informasis"
                            :key="`informasi-${index}`" :informasi="informasi"
                            :applyEdit="user.role.id === 1" @edit="doEdit"/>
            <div v-if="hasInformations" class="btn-wrp has-text-centered">
                <a @click="doFind(informasis.length)" class="button is-dark">
                    Muat lagi
                </a>
            </div>
            <empty-states v-else/>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {cloneDeep} from "lodash";
    import {Inject} from "typescript-ioc";
    import Resource from "../config/environment/Resource";
    import Constant from "../config/Constant";

    import InformasiService from "../service/InformasiService";

    import Informasi from "../models/Informasi";
    import User from "../models/User";
    import CommonService from "@/service/CommonService";

    @Component({
        components: {
            CommonEditor: () => import("@/components/CommonEditor.vue")
        }
    })
    export default class UserHome extends Vue {

        public user: any;

        @Inject
        public informasiService: InformasiService;

        @Inject
        public commonService: CommonService;

        public informasi: Informasi = new Informasi();

        public informasis: Array<Informasi> = [];

        public hasInformations: boolean = true;

        public doEdit(informasi: Informasi = new Informasi()) {
            this.informasi = informasi;
        }

        public created() {
            const user = this.commonService.getUser();
            if (user instanceof User) {
                this.user = cloneDeep(user);
            }
        }

        public mounted() {
            this.doFind();
        }

        public async doFind(offset: number = 0) {
            if (offset === 0) {
                this.informasis = [];
            }

            const informasis = await this.informasiService.find({offset, limit: Resource["LIMIT"]});
            this.hasInformations =
                (informasis || []).length > 0 && (informasis || []).length % Resource["LIMIT"] === 0;
            (informasis || []).forEach(informasi => {
                if (informasi instanceof Informasi) {
                    this.informasis.push(informasi);
                }
            });
        }

        public async doSave() {
            if (this.user.role.id === 1 && this.informasi.valid()) {
                this.informasiService.returnWithStatus = true;
                const response = await this.informasiService.save(this.informasi);
                const {SAVE_SUCCESS} = Constant.STATUS.API;

                if (response.status === SAVE_SUCCESS) {
                    this.informasi = new Informasi();
                    this.hasInformations = true;
                    this.doFind();
                }

                this.informasiService.returnWithStatus = false;
            }
        }
    }
</script>
