<!--suppress ALL -->
<template>
    <div class="kelas-detail-page">
        <b-modal :active.sync="previewSoal" class="modal-preview-soal" @close="onCloseModal">
            <template v-if="previewSoal">
                <header class="modal-card-head">
                    {{isDosen ? soalDetail.name : soalDetail.soal.name}}
                </header>
                <div class="modal-content-wrp">
                    <div class="content">
                        <template v-if="currentDetailSoal === modalDetailSoal.EDIT">
                            <form v-on:submit.prevent="doUploadSoals" method="POST" class="form-edit-mhs-soal">
                                <b-field label="Unggah soal *(Soal format dokumen)">
                                    <b-field class="file">
                                        <b-upload :accept="accept" @input="onPickFile">
                                            <a class="button is-info">
                                                <i class="mdi mdi-upload"></i>
                                            </a>
                                        </b-upload>
                                        <span class="file-name">{{(soalDetailEdit.file||{name: soalDetailEdit.download_path}).name}}</span>
                                    </b-field>
                                </b-field>
                                <div class="btn-wrp has-text-right">
                                    <input type="submit" value="Update"
                                           :class="`button is-${soalDetailEdit.valid() ? 'success' : 'danger'}`"/>
                                </div>
                            </form>
                        </template>
                        <template v-else>
                            <p>{{isDosen ? soalDetail.description : soalDetail.soal.description}}</p>
                            <div v-if="isDosen" class="table-detail-wrp">
                                <p class="title is-6">Detail soal dibagikan</p>
                                <common-table :columnProps="columnDetailSoals" :datas="soalDetails">
                                    <template v-for="(soal, index) in soalDetails"
                                              :slot="`column-aksi-${index}`" slot-scope="{row}">
                                        <div class="btn-wrp has-text-centered">
                                            <a :href="soal.download_path" class="button is-dark is-small"
                                               download>
                                                <i class="mdi mdi-download"></i>
                                            </a>
                                            <a @click="doEditSoalDetail(soal.id)" class="is-info button is-small">
                                                <i class="mdi mdi-square-edit-outline"></i>
                                            </a>
                                        </div>
                                    </template>
                                </common-table>
                            </div>
                        </template>
                    </div>
                    <div class="btn-wrp">
                        <a v-if="isDosen && currentDetailSoal===modalDetailSoal.EDIT" class="button is-info"
                           @click="currentDetailSoal = modalDetailSoal.PREVIEW">Kembali</a>
                        <a @click="previewSoal = false" class="button is-dark">Tutup</a>
                    </div>
                </div>
            </template>
        </b-modal>

        <div class="columns">
            <div class="column is-4">
                <p class="title is-6">Dosen pengampu</p>
                <user-badge :user="kelas.dosen"/>
                <div v-if="!kelas.active && isDosen" class="box has-text-centered">
                    <p class="title is-6">Aktifkan kelas ini untuk memulai pembelajaran</p>
                    <a @click="activateClass" class="button is-info">Aktifkan</a>
                </div>
            </div>
            <div class="column is-8">
                <kelas-item :kelas="kelas" :isHorizontal="true"/>
                <div v-if="isDosen" class="table-mahasiswa">
                    <p class="title is-6">Mahasiswa Kelas Ini</p>
                    <common-table :columnProps="columnMahasiswa" :datas="mahasiswaDatas"/>
                </div>
                <div class="kelas-content">
                    <div v-if="isMahasiswa && !isSubscribed" class="field has-text-centered">
                        <a @click="doSubscribe" class="button is-info">Subscribe Kelas</a>
                    </div>
                    <div v-else>
                        <b-tabs v-model="activeTab" @change="doFind(0)">
                            <b-tab-item :label="`${isDosen ? 'Atur' : 'Lihat'} soal`">
                                <div v-if="soalDatas.length === 0 && isDosen" class="field has-text-right">
                                    <a @click="activeTab = 1" class="button is-info has-icon">
                                        <span class="icon"><i class="mdi mdi-cloud-upload"></i></span>
                                        <span>Unggah soal</span>
                                    </a>
                                </div>
                                <common-table :columnProps="columns" :datas="soalDatas">
                                    <template v-for="(soal, index) in soalDatas"
                                              :slot="`column-aksi-${index}`" slot-scope="{row}">
                                        <div class="btn-wrp has-text-centered">
                                            <template v-if="isDosen">
                                                <a class="button is-info is-small" @click="doEdit(row)">
                                                    <i class="mdi mdi-account-edit"></i>
                                                </a>
                                            </template>
                                            <template v-if="isMahasiswa">
                                                <a :href="soal.download_path" class="button is-dark is-small" download>
                                                    <i class="mdi mdi-download"></i>
                                                </a>
                                            </template>
                                            <a @click="onOpenDetailSoal(soal)" class="button is-info is-small">
                                                Detail
                                            </a>
                                        </div>
                                    </template>
                                </common-table>
                            </b-tab-item>
                            <b-tab-item v-if="isDosen" label="Unggah soal">
                                <b-notification :class="kelas.active && 'is-hidden'" type="is-info">
                                    Aktifkan kelas terlebih dahulu untuk mengunggah soal
                                </b-notification>
                                <form-soal :class="!kelas.active && 'is-hidden'" ref="formSoal"
                                           :skipUploadFile="skipUpload"
                                           :kelas_id="kelas.id" @save="doUploadSoals"/>
                            </b-tab-item>
                        </b-tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import {cloneDeep, isNil} from "lodash";
    import Constant from '../config/Constant';
    import {acceptFormatFiles} from '../util/FormatFileUtil';

    import KelasService from '../service/KelasService';
    import SoalService from '../service/SoalService';
    import CommonService from '../service/CommonService';
    import UserService from '../service/UserService';

    import Kelas from '../models/Kelas';
    import User from '../models/User';
    import Soal from '../models/Soal';
    import MahasiswaSoal from '../models/MahasiswaSoal';

    enum ModalDetailSoal {
        PREVIEW = "PREVIEW",
        EDIT = "EDIT"
    }

    @Component
    export default class KelasDetail extends Vue {

        public kelas: Kelas = new Kelas();

        public user: any = {};

        @Inject public kelasService: KelasService;

        @Inject public userService: UserService;

        @Inject public soalService: SoalService;

        @Inject public commonService: CommonService;

        public isMounted: boolean = false;

        public isSubscribed: boolean = false;

        public soals: Array<any> = [];

        public soalDetails: Array<any> = [];

        public mahasiswas: Array<User> = [];

        public skipUpload: boolean = false;

        public columns: Array<any> = [];

        public columnDetailSoals: Array<any> = MahasiswaSoal.columnName();

        public columnMahasiswa: Array<any> = User.columnName(true);

        public activeTab: number = 0;

        public previewSoal: boolean = false;

        public accept: Array<any> = acceptFormatFiles;

        public soalDetail: any = new MahasiswaSoal();

        public soalDetailEdit: any = new MahasiswaSoal();

        public modalDetailSoal: any = ModalDetailSoal;

        public currentDetailSoal: any = ModalDetailSoal.PREVIEW;

        public get isDosen() {
            if (this.user instanceof User) {
                return this.user.role_id === 2;
            }

            return false;
        }

        public get isMahasiswa() {
            if (this.user instanceof User) {
                return this.user.role_id === 3;
            }

            return false;
        }

        public get soalDatas(): Array<any> {
            return cloneDeep(this.soals).map(item => item.table());
        }

        public get mahasiswaDatas(): Array<any> {
            return cloneDeep(this.mahasiswas).map(item => item.table());
        }

        public created() {
            const user = this.commonService.getUser();

            if (user instanceof User) {
                this.user = cloneDeep(user);
            }
        }

        public mounted() {
            (window as any).$('.base-page').css('background', 'white');

            this.doFind();
        }

        public onCloseModal() {
            this.soalDetailEdit = new MahasiswaSoal();
        }

        public doEditSoalDetail(id) {
            if (id) {
                const soalDetail = this.soalDetails.find(item => item.id === id);
                this.soalDetailEdit.id = id;
                if (soalDetail) {
                    this.soalDetailEdit.download_path = soalDetail.download_path || 'Pilih file';
                }

                this.currentDetailSoal = ModalDetailSoal.EDIT;
            }
        }

        public async onOpenDetailSoal(soal: any) {
            this.previewSoal = true;
            this.soalDetail = this.soals.find(item => item.id === soal.id) ||
                (this.isDosen ? new Soal() : new MahasiswaSoal());

            if (this.isDosen) {
                const soalDatas = await this.doFindSoal(soal.id) || [];
                this.soalDetails = soalDatas.map(item => item.table());
            }
        }

        public async doEdit(row) {
            const {soals} = this;
            this.activeTab = 1;
            this.skipUpload = true;

            if ((this as any).$refs.formSoal) {
                (this as any).$refs.formSoal.setSoal(soals.find(item => item.id === row.id) || new Soal());
            }
        }

        public onPickFile(file) {
            let message = '';

            if (((file || {size: 0}).size / 1000) > 2048 || isNil(file)) {
                message = 'File tidak boleh lebih dari 2mb';
            }

            if (message.length > 0) {
                this.commonService.showNotification(message, true);
            } else {
                this.soalDetailEdit.file = file;
            }
        }

        public async doUploadSoals(soal: Soal = new Soal()) {
            const {UPLOAD_SUCCESS, SAVE_SUCCESS} = Constant.STATUS.API;
            this.soalService.returnWithStatus = true;

            if (this.soalDetailEdit.valid()) {
                const response = await this.soalService.updateMahasiswaSoal(this.soalDetailEdit);
                if (response.status === UPLOAD_SUCCESS || response.status === SAVE_SUCCESS) {
                    this.doFind();
                    this.resetState();
                }

                this.previewSoal = false;
            } else {
                const method = soal.id === 0 ? 'save' : 'update';
                const response = await this.soalService[method](soal);

                if (response.status === UPLOAD_SUCCESS || response.status === SAVE_SUCCESS) {
                    this.doFind();
                    this.resetState();
                }
            }

            this.soalService.returnWithStatus = false;
        }

        public async doFind() {
            const params = {kelas_id: this.$route.params.id, offset: 0, limit: 1};
            const kelas = await this.kelasService.find(params);

            if (Array.isArray(kelas) && kelas[0] && kelas[0] instanceof Kelas) {
                this.kelas = kelas[0];
            }

            if (this.isDosen) {
                const mahasiswas = await this.userService.find({kelas_id: this.kelas.id}) || [];
                this.mahasiswas = mahasiswas;
            } else if (this.isMahasiswa) {
                const isSubscribe = await this.kelasService.checkSubscribeKelas({mhs_id: this.user.id, kelas_id: this.kelas.id}) || false;
                this.isSubscribed = isSubscribe;
            }

            this.columns = this.isMahasiswa ? MahasiswaSoal.columnName() : Soal.columnName();
            if (this.activeTab === 0 && this.isDosen) {
                this.skipUpload = false;
                if ((this as any).$refs.formSoal) {
                    (this as any).$refs.formSoal.setSoal(new Soal());
                }
            }

            await this.doFindSoal();

            this.isMounted = true;
        }

        public resetState() {
            this.soalDetail = new MahasiswaSoal();
            this.soalDetailEdit = new MahasiswaSoal();
            this.currentDetailSoal = ModalDetailSoal.PREVIEW;

            if ((this as any).$refs.formSoal) {
                (this as any).$refs.formSoal.resetSoal();
            }
        }

        public async doFindSoal(id: number = 0) {
            let param = {kelas_id: this.kelas.id};

            if (id) {
                param['id'] = id;
            } else if (this.isMahasiswa) {
                param['mahasiswa_id'] = this.user.id;
            }

            const soals = await this.soalService.find(param) || [];

            if (!id) {
                this.soals = soals;
            }

            return soals;
        }

        public async activateClass() {
            const response = await this.kelasService.activateKelas({id: this.kelas.id});

            if (response.status === Constant.STATUS.API.UPDATE_SUCCESS) {
                this.kelas.active = true;
                await this.doFind();
                this.resetState();

                this.commonService.showNotification('Kelas sudah diaktifkan', true);
            }
        }

        public async doSubscribe() {
            const payload = {mahasiswa_id: this.user.id, kelas_id: this.kelas.id};
            const response = await this.kelasService.subscribeKelas(payload);

            if (response.status === Constant.STATUS.API.SAVE_SUCCESS) {
                await this.doFind();
                this.resetState();
            }
        }

        public beforeMounted() {
            (window as any).$('.base-page').removeAttr('style');
        }
    }
</script>
