<!--suppress ALL -->
<template>
    <div class="base-page">
        <div class="nav-wrp" v-if="forceRerender">
            <navigation-bar :menus="menus" :user="userData"/>
        </div>
        <div class="columns container is-widescreen">
            <div class="column is-one-quarter" v-if="!skipSidebar">
                <div :class="isSidebarFixed ? 'is-fixed':''" ref="sideBar">
                    <user-badge :user="userData" v-if="forceRerender"/>
                    <div class="box box-info">
                        <div class="level">
                            <div class="level-left"><p class="title is-6">Info User</p></div>
                            <div class="level-right">
                                <router-link :to="'/profile/'+userData.email+'?setting=true'"
                                             class="buton is-white">Setting
                                </router-link>
                            </div>
                        </div>
                        <ul class="menu-list">
                            <li :key="`info-`+key" v-for="(info, key) in userInfo">
                                <p>{{key}}</p>
                                <p class="help">{{info}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column">
                <router-view/>
            </div>
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p><strong>© E-learning 2018-2019 </strong></p>
                <p class="helper is-grey">Dikembangkan oleh sairoh</p>
            </div>
        </footer>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import {startCase, cloneDeep} from 'lodash';
    import User from "../models/User";
    import CommonService from "@/service/CommonService";

    @Component
    export default class LayoutPage extends Vue {

        @Prop({default: false})
        public skipSidebar: boolean;

        @Inject
        public commonService: CommonService;

        public userData: User = new User();

        public menus: Array<any> = [];

        public isSidebarFixed: boolean = false;

        public forceRerender: boolean = true;

        public get userInfo() {
            return Object.keys(this.userData).filter((item) => {
                return ['password', 'file', 'role', 'token', 'id'].every(word => !item.includes(word));
            }).reduce((accu: any, item: string, _idx) => {
                accu[startCase(item)] = this.userData[item];

                return accu
            }, {});
        }

        public created() {
            const user = this.commonService.getUser();
            if (user instanceof User) {
                this.userData = cloneDeep(user);

                if (this.userData.role.id === 1) { // ADMIN
                    let menus = [
                        {name: "Home", url: "/home"},
                        {name: "Atur Dosen", url: "/master-dosen"},
                        {name: "Atur Mata Pelajaran", url: "/master-mapel"},
                        {name: "Atur Kelas", url: "/master-kelas"}
                    ];

                    this.menus = menus;
                } else if (this.userData.role.id === 2) { // DOSEN
                    let menus = [
                        {name: "Kelas diampu", url: "/class-teached"},
                        {name: "Soal di upload", url: "/soals"},
                    ];

                    this.menus = menus;
                } else if (this.userData.role.id === 3) { // MAHASISWA
                    let menus = [
                        {name: "Lihat Kelas Tersedia", url: "/course-avalaible"},
                        {name: "Soal di upload", url: "/soals"},
                    ];

                    this.menus = menus;
                }
            }
        }

        public mounted() {
            if (!this.skipSidebar) {
                const element = (this as any).$refs.sideBar;
                const context = this;

                new (window as any).Waypoint.Sticky({
                    element,
                    handler: function (direction) {
                        const hasStuck = this.$element.hasClass('stuck');
                        context.isSidebarFixed = hasStuck;

                        if (hasStuck) {
                            this.$element.css("width", `${this.$wrapper.width()}px`);
                        } else {
                            this.$element.removeAttr('style');
                        }
                    },
                    offset: 60
                });
            }

            this.$root.$on('updateUser', (response) => {
                if (response instanceof User) {
                    this.forceRerender = false;
                    this.userData = response;

                    this.$nextTick(() => this.forceRerender = true);
                }
            });
        }
    }
</script>

<style>
    .is-fixed {
        position: fixed;
    }
</style>
