<!--suppress ALL -->
<template>
    <div class="login-page">
        <section class="form-login-register">
            <b-notification has-icon type="is-info" v-if="isLoginFirst">
                Anda harus masuk terlebih dahulu!
            </b-notification>
            <section class="logo-wrp">
                <img alt="E-learning" class="is-rounded" src="/images/logo.png">
            </section>
            <form-user :isLogin="!isRegister" :isRegister="isRegister"
                       :role="role" v-if="toggleForm"/>

            <section class="has-text-centered">
                <p class="help is-grey">{{isRegister ? 'Sudah Punya Akun ?' : 'Belum Punya Akun ?'}}</p>
                <p class="help">
                    <a @click.prevent="onNavigateTo(isRegister ? '/' : '/?register=true')">
                        {{isRegister ? 'Login' : 'Daftar dulu'}}
                    </a>
                </p>
            </section>
        </section>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {isEmpty} from "lodash";

    import Role from "../models/Role";

    @Component({
        components: {
            FormUser: () => import("@/components/FormUser.vue")
        }
    })
    export default class FormLogin extends Vue {
        public role: Role = new Role();

        public toggleForm: boolean = true;

        public get isRegister() {
            const query = (this as any).$route.query;

            return !isEmpty(query) && !isEmpty(query.register);
        }

        public get isLoginFirst() {
            const query = (this as any).$route.query;

            return !isEmpty(query) && !isEmpty(query["login-first"]);
        }

        public mounted() {
            this.role.id = 3;
        }

        public onNavigateTo(url) {
            this.toggleForm = false;
            this.$nextTick(() => {
                this.toggleForm = true;
                this.$router.push(url);
            });
        }
    }
</script>
