<!--suppress ALL -->
<template>
    <div class="master-dosen">
        <b-modal :active.sync="modalActive" class="modal-edit-user">
            <header class="modal-card-head">
                <p class="modal-card-title is-small">Edit Guru</p>
            </header>
            <div class="modal-content-wrp">
                <form-user :role="role" ref="formUser" @saved="()=>{doFind(1);modalActive=false}"
                           :isRegister="!isEditDosen" :skipRedirect="true"/>
                <div class="btn-wrp has-text-right">
                    <a class="button is-light" @click="modalActive = false">Tutup</a>
                </div>
            </div>
        </b-modal>
        <div class="box">
            <div class="title-wrp">
                <p class="title is-6">Tabel Guru</p>
                <a @click="doEdit(null)" class="button is-info has-icon">
                    <span class="icon"><i class="mdi mdi-account-plus"></i></span>
                    <span>Tambah baru</span>
                </a>
            </div>
            <common-table :perPage="paramTable.limit" :total="paramTable.total"
                          :columnProps="columns" :datas="dosenDatas" @pageChange="doFind">
                <template v-for="(dosen, index) in dosenDatas"
                          :slot="`column-aksi-${index}`" slot-scope="{row}">
                    <a class="button is-info is-small"
                       :key="`dosen-action-${index}`" @click="doEdit(row)">
                        <i class="mdi mdi-account-edit"></i>
                    </a>
                </template>
            </common-table>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import {cloneDeep, isNil} from "lodash";
    import Resource from '../config/environment/Resource';

    import UserService from "../service/UserService";

    import User from "../models/User";
    import Role from "../models/Role";

    @Component({
        components: {
            FormUser: () => import("@/components/FormUser.vue")
        }
    })
    export default class MasterDosen extends Vue {
        @Inject public userService: UserService;

        public isEditDosen: boolean = true;

        public dosens: Array<User> = [];

        public paramTable: any = {limit: Resource["LIMIT"], total: 0};

        public columns: Array<any> = User.columnName();

        public modalActive: boolean = false;

        public role: Role = new Role();

        public created() {
            this.role.id = 2;
        }

        public mounted() {
            this.doFind(1);
        }

        public get dosenDatas(): Array<any> {
            return cloneDeep(this.dosens).map(item => item.table());
        }

        public async doFind(page) {
            const limit = Resource["LIMIT"];
            const offset = (page - 1) * limit;
            const dosens = await this.userService.find({offset, limit, role_id: 2}, true);

            this.dosens = dosens.data || [];
            this.paramTable.total = dosens.count || 0;
        }

        public doEdit(row) {
            this.modalActive = true;
            this.isEditDosen = !isNil(row);

            this.$nextTick(() => {
                const dosen = new User();
                dosen.role_id = 2;

                const payload = this.isEditDosen
                    ? this.dosens.find(item => item.id === row.id) || dosen
                    : dosen;

                (this as any).$refs.formUser.setUser(payload);
            });
        }
    }
</script>
