<!--suppress ALL -->
<template>
    <div class="master-kelas">
        <b-modal :active.sync="modalActive" class="modal-edit-kelas">
            <header class="modal-card-head">
                <p class="modal-card-title is-small">Edit Kelas</p>
            </header>
            <div class="modal-content-wrp">
                <form-kelas ref="formKelas" @saved="()=>{doFind(1); modalActive=false;}"/>
                <div class="btn-wrp has-text-right">
                    <a class="button is-light" @click="modalActive = false">Tutup</a>
                </div>
            </div>
        </b-modal>
        <div class="box">
            <div class="title-wrp">
                <p class="title is-6">Tabel Kelas</p>
                <a @click="doEdit(null)" class="button is-info has-icon">
                    <span class="icon"><i class="mdi mdi-account-plus"></i></span>
                    <span>Tambah baru</span>
                </a>
            </div>
            <common-table :perPage="paramTable.limit" :total="paramTable.total"
                          :columnProps="columns" :datas="kelasDatas" @pageChange="doFind">
                <template v-for="(kelas, index) in kelasDatas" :slot="`column-aksi-${index}`" slot-scope="{row}">
                    <a class="button is-info is-small"
                       :key="`kelas-action-${index}`" @click="doEdit(row)">
                        <i class="mdi mdi-account-edit"></i>
                    </a>
                </template>
            </common-table>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import {cloneDeep, isNil} from "lodash";
    import Resource from '../config/environment/Resource';

    import KelasService from "../service/KelasService";

    import Kelas from "../models/Kelas";

    @Component
    export default class MasterKelas extends Vue {
        @Inject public kelasService: KelasService;

        public isEditKelas: boolean = true;

        public kelases: Array<Kelas> = [];

        public columns: Array<any> = Kelas.columnName();

        public modalActive: boolean = false;

        public paramTable: any = {limit: Resource["LIMIT"], total: 0};

        public get kelasDatas(): Array<any> {
            return cloneDeep(this.kelases).map(item => item.table());
        }

        public mounted() {
            this.doFind(1);
        }

        public async doFind(page) {
            const limit = Resource["LIMIT"];
            const offset = (page - 1) * limit;
            const kelases = await this.kelasService.find({offset, limit}, true);

            this.kelases = Array.isArray(kelases.data) ? kelases.data : [];
            this.paramTable.total = kelases.count || 0;
        }

        public doEdit(row) {
            this.modalActive = true;
            this.isEditKelas = !isNil(row);

            this.$nextTick(() => {
                const payload = this.isEditKelas
                    ? this.kelases.find(item => item.id === row.id) || new Kelas()
                    : new Kelas();

                (this as any).$refs.formKelas.setKelas(payload);
            });
        }
    }
</script>

