<!--suppress ALL -->
<template>
    <div class="profile-page">
        <user-badge v-if="forceRerender" :user="userData" class="is-horizontal">
            <div slot="head-slot" class="header-s">
                <p class="title is-6">Profile</p>
            </div>
        </user-badge>
        <div class="section-tab">
            <div class="tabs">
                <ul>
                    <li :class="!isSetting ? 'is-active' : ''">
                        <router-link :to="'/profile/'+userData.email">
                            Informasi
                        </router-link>
                    </li>
                    <li v-if="isCurrentUser" :class="isSetting ? 'is-active' : ''">
                        <router-link :to="'/profile/'+userData.email+'?setting=true'">
                            Setting
                        </router-link>
                    </li>
                </ul>
            </div>
            <div v-show="isSetting" class="box setting-page">
                <div class="header-s">
                    <p class="title is-6">Setting</p>
                </div>
                <form-user class="formUser" :isFromSetting="true" ref="formUser"/>
            </div>
            <div v-show="!isSetting" class="box info-page">
                <div class="header-s">
                    <p class="title is-6">Informasi</p>
                </div>
                <div class="field">
                    <p class="title is-6">Nama</p>
                    <p>{{userData.name}}</p>
                </div>
                <div class="field">
                    <p class="title is-6">Email</p>
                    <p><a :href="`mailto://${userData.email}`">{{userData.email}}</a></p>
                </div>
                <div class="field">
                    <p class="title is-6">Alamat</p>
                    <p>{{userData.address}}</p>
                </div>
                <div class="field">
                    <p class="title is-6">Nomor telepon</p>
                    <p><a :href="`tel:${userData.phone_number}`">{{userData.phone_number}}</a></p>
                </div>
                <div class="field">
                    <p class="title is-6">Role</p>
                    <p>{{userData.role.name}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import {timeout} from '../util/Delay';
    import {get} from "lodash";

    import User from "../models/User";

    import CommonService from '../service/CommonService';
    import UserService from "@/service/UserService";

    @Component({
        components: {
            FormUser: () => import("@/components/FormUser.vue")
        }
    })
    export default class ProfilePage extends Vue {

        @Inject
        public userService: UserService;

        @Inject
        public commonService: CommonService;

        public userData: User = new User();

        public forceRerender: boolean = true;

        public get isCurrentUser() {
            const userId = get(this.userData, 'id', null);
            let currentUserId = this.commonService.getUser();

            currentUserId = get(currentUserId, 'id', null);

            return userId !== null && currentUserId !== null && currentUserId === userId;
        }

        public get isSetting() {
            const query = (this as any).$route.query;

            return query['setting'] === 'true';
        }

        public created() {
            this.doFindUser();
        }

        public async doFindUser() {
            const param = {offset: 0, limit: 1, email: this.$route.params.email};
            const users = await this.userService.find(param);

            if (Array.isArray(users) && users.length) {
                this.userData = users[0];
            } else {
                this.$router.push('/404');
            }
        }

        public mounted() {
            timeout(500).then(() => {
                if (this.userData.id && (this as any).$refs.formUser) {
                    (this as any).$refs.formUser.setUser(this.userData);
                }
            });

            this.$root.$on('updateUser', (response) => {
                if (response instanceof User) {
                    this.forceRerender = false;
                    this.userData.image_profile = response.image_profile;

                    this.$nextTick(() => this.forceRerender = true);
                }
            });
        }
    }
</script>
