<!--suppress ALL -->
<template>
    <div class="box soal-page">
        <div ref="cek" class="header-s">
            <p class="title is-6">Soal</p>
        </div>
        <div class="sec">
            <b-field label="Pilih kelas">
                <b-select v-model="kelas_id" placeholder="Select a name">
                    <option :value="0" selected disabled>Pilih kelas</option>
                    <option v-for="kelas in kelases" :value="kelas.id" :key="kelas.id">
                        {{kelas.mapel.name}} - ({{ kelas.name }})
                    </option>
                </b-select>
            </b-field>
            <common-table :columnProps="columns" :datas="soalDatas">
                <template v-for="(soal, index) in soalDatas"
                          :slot="`column-aksi-${index}`" slot-scope="{row}">
                    <div class="btn-wrp has-text-centered">
                        <router-link :to="`/class-detail/${kelas_id}`"
                           class="button is-info is-small">
                            <i class="mdi mdi-eye"></i>
                        </router-link>
                    </div>
                </template>
            </common-table>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {Inject} from "typescript-ioc";
    import {cloneDeep} from 'lodash';
    import SoalService from '../service/SoalService';
    import KelasService from '../service/KelasService';

    import User from "../models/User";
    import Kelas from "../models/Kelas";
    import Soal from "../models/Soal";
    import MahasiswaSoal from "../models/MahasiswaSoal";
    import CommonService from "@/service/CommonService";

    @Component
    export default class SoalPage extends Vue {

        @Inject public kelasService: KelasService;

        @Inject public soalService: SoalService;

        @Inject
        public commonService: CommonService;

        public userData: User = new User();

        public kelases: Array<Kelas> = [];

        public soals: Array<any> = [];

        public kelas_id: number = 0;

        public columns: Array<any> = [];

        public get isDosen() {
            if (this.userData instanceof User) {
                return this.userData.role_id === 2;
            }

            return false;
        }

        public get soalDatas() {
            return cloneDeep(this.soals).map(item => item.table());
        }

        public get isMahasiswa() {
            if (this.userData instanceof User) {
                return this.userData.role_id === 3;
            }

            return false;
        }

        public created() {
            const user = this.commonService.getUser();

            if (user instanceof User) {
                this.userData = cloneDeep(user);
            }
        }

        public async mounted() {
            await this.doFind();

            (this as any).$watch('kelas_id', async (response) => {
                await this.doFind(response);
            });
        }

        public async doFind(kelas_id: number = 0) {
            if (kelas_id) {
                this.columns = this.isMahasiswa ? MahasiswaSoal.columnName() : Soal.columnName();

                const param: any = {kelas_id};
                if (this.isMahasiswa) {
                    param.mahasiswa_id = this.userData.id;
                }

                const responses = await this.soalService.find(param) || [];
                this.soals = responses;
            } else {
                const param: any = this.isDosen ? {dosen_id: this.userData.id} : {mhs_id: this.userData.id};
                param.all = true;

                const kelases = await this.kelasService.find(param) || [];
                this.kelases = kelases;
            }
        }
    }
</script>
